.content {
  height: calc(77vh - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.topCol {
  position: relative;
  align-content: center;
  height: 80%;
  width: 80%;
  float: left;
  text-align: -webkit-center;
  align-content: center;
}

.bottomCol {
  width: 60%;
  height: calc(20% - 0px);
  display: flex;
  place-content: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 90%;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 90%;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.dots {
  cursor: pointer;
}

.dotArrowStyles {
  position: absolute;
  color: black;
  z-index: 1;
  cursor: pointer;
  height: 4px;
  background-color: white;
  width: 60px;
  margin-bottom: 5px;
}

@media (max-width: 568px) {
  .content {
    height: calc(77vh - 60%);
    gap: 1rem;
  }

  .topCol {
    height: 50%;
    width: 100%;
  }

  .bottomCol {
    height: 15%;
    overflow: scroll;
  }

  .rightArrow {
    right: 93%;
  }

  .leftArrow {
    right: 1%;
  }
}
