.container {
  padding-right: 50px;
  padding-left: 50px;
  height: auto;
}

/* .NewProjectPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NewProjectPage input,
.NewProjectPage textarea,
.NewProjectPage select {
  padding: 20px;
  border-radius: 5px;
}

.NewProjectPage button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  font-weight: bold;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input,
.form textarea,
.form select {
  padding: 20px;
  border-radius: 5px;
}

.form button {
  width: 20%;
  align-self: center;
  padding: 10px;
}
