.formContainer form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 1px black solid;
}

.section {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section button {
  width: 20%;
  align-self: center;
}

.button {
  width: 30%;
  align-self: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px black solid;
}

.imageContainer input {
  text-align-last: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.h3 {
  border-bottom: solid 1px black;
  width: 15%;
  align-self: center;
}
