/* body {
} */

.container {
  /* padding-right: 50px;
  padding-left: 50px; */
  height: 100%;
  overflow: hidden;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 568px) {
  .container {
    /* padding-right: 20px;
    padding-left: 20px; */
  }
}

.whiteFilter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(299deg) brightness(100%) contrast(104%);

  display: flex;
  text-align: center;
  gap: 10px;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  width: 450px;
  align-self: center;
  height: 200px !important;
}
