/* .container {
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  width: 500px;
  gap: 15px;
  text-align: right;
  line-height: 1.6;
  margin-bottom: 200px;
  color: #ffffff;
  text-shadow: 0.5px 0.5px 1px rgb(0 0 0);
}

.textContainer::-webkit-scrollbar {
  width: 10px;
}

.textContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.textContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.textContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.textContent {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}



.paragrah {
  text-shadow: 0.5px 0.5px 1px rgb(255 255 255);
}

@media (max-width: 768px) {
  .whiteFilter {
    width: 70% !important;
  }

  .textContainer {
    width: 350px;
  }
}

.paragraph {
  padding-left: 30px;
  padding-right: 30px;
} */

/* .AboutPage {
  position: relative;
  width: 100vh;
  width: 100vw;
}

.textContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  width: 500px;
  gap: 15px;
  text-align: right;
  line-height: 1.6;
  margin-bottom: 200px;
  color: #fff;
  text-shadow: 0.5px 0.5px 1px #000;
}

.textContent {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}

.bg_image {
  object-fit: cover;
  z-index: -5;
} */

.textContainer {
  position: absolute; /* Make text container absolute for overlay */
  top: 0; /* Position at top of the image */
  left: 0; /* Position at left of the image */
  width: 100%; /* Match image width */
  height: 100%; /* Match image height */
  display: flex; /* Allow alignment of text elements */
  flex-direction: column; /* Stack text elements vertically */
  justify-content: center; /* Center text vertically */
  align-items: center; /* Center text horizontally */
}

.textContent {
  width: 500px;
  font-size: 1.1rem;
  /* margin-top: 20%; */
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: white; */
  color: #ffffff;
  text-shadow: 0.5px 0.5px 1px rgb(0 0 0) !important;
  text-align: right;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20%;
}

.first_paragrah {
  text-align: center;
  /* text-shadow: 0.5px 0.5px 1px rgb(255 255 255); */
}

@media (max-width: 768px) {
  .image {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    inset: 0px;
    object-fit: cover;
    color: transparent;
  }

  .textContent {
    width: 80%;
    gap: 0;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 40%;
    margin-bottom: 20%;
  }
}

/* .footer {
  color: #ffffff;
  text-shadow: 0.5px 0.5px 1px rgb(0 0 0) !important;
} */
