.box {
  justify-self: center;
  width: 90%;
  border-radius: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-radius: 2px;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); */
  margin-bottom: 1px;
}

.box:hover {
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

.boxImgContainer {
  height: 450px;
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.boxImg {
  object-fit: cover;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  text-align-last: left;
  padding: 10px;
}

@media (max-width: 768px) {
  .boxImgContainer {
    height: 350px;
  }
}
