.content {
  height: calc(100vh - 130px);
  /* display: flex; */
  align-items: center;
}

.homeContentContainer {
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.leftCol {
  /* background-color: black; */
  width: calc(40% - 20px);
  height: 77vh;
  float: left;
  text-align: -webkit-center;
  align-content: center;
}

.rightCol {
  width: 60%;
  height: 77vh;
  display: flex;
  place-content: center;
}

.rightPanel {
  width: 90%;
  height: 90%;
  margin: 0 0 0 0;
}

.leftPanel {
  /* background-color: red; */
  width: 90%;
  height: 90%;
  margin: 0 0 0 0;
}

@media (max-width: 568px) {
  .content {
    height: 77vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .rightCol {
    width: 100%;
    height: 70%;
  }

  .leftCol {
    width: 100%;
    height: 30%;
  }

  .rightPanel {
    width: 90%;
    height: 0%;
  }
}
