.homeContentContainer {
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.leftCol {
  background-color: black;
  width: calc(40% - 20px);
  height: 100%;
  float: left;
}

.rightCol {
  background-color: red;
  width: 60%;
  height: 100%;
  float: right;
}

.buyPanel {
  width: 100%;
  height: 230px;
  margin: 40px 0 0 0;
}

.sellPanel {
  width: 100%;
  height: 230px;
  margin: 40px 0 0 0;
}
