.container {
  padding-top: 150px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  .project {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
  }
}
