.carousel {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom: inset;
}

.ltr {
  direction: ltr !important;
}

.pageHeader {
  width: 200px;
  align-self: center;
}

.pageHeader:hover {
  border-bottom: solid 3px;
}
