.top {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
}

.userRatingAverage {
  width: 30%;
  text-align: right;
}

.userRatingGraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: center;
}

.userRatingGraph:after {
  content: "";
  display: table;
  clear: both;
}

.buttonDiv {
  width: 10%;
}

.reviewsContainer {
  height: auto;
  padding-bottom: 20px;
}

.reviewComponent {
  margin-top: 20px;
  /* padding-bottom: 20px; */
}

.pageHeader {
  font-size: 2rem;
}

.button {
  margin-top: 20px;
  align-self: center;
  padding: 5px;
  width: 100%;
  align-self: center;
  border: none;
  background-color: var(--bg);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .userRatingAverage {
    width: 20%;
    text-align: right;
  }

  .userRatingGraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    justify-content: center;
  }

  .userRatingGraph:after {
    content: "";
    display: table;
    clear: both;
  }

  .buttonDiv {
    width: 10%;
  }
}

@media (max-width: 768px) {
  .buttonDiv {
    width: 15%;
  }

  .button {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .button {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .top {
    width: 100%;
    flex-direction: column;
  }

  .userRatingAverage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userRatingGraph {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .buttonDiv {
    width: 100%;
    justify-content: center;
  }
}
