.row {
  display: flex;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
  height: 100%;
  width: 80%;
}

.continue {
  float: left;
  border-radius: 5px;
  background-color: darkgray;
  padding: 10px;
}

.imageColumn {
  background-image: url("https://res.cloudinary.com/dflevhwgh/image/upload/v1725387382/ve44cvyyuq7acec8six2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 95%;
    align-self: center;
    padding: 0;
  }

  .image {
    height: 100%;
    width: 100%;
  }
}
