.carouselContainer {
  height: 100%;
  /* height: calc(77vh - 10px); */
  position: relative;
}

.carouselSlides {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  justify-content: center;
  height: 80%;
}

.carouselSlide {
  flex: 0 0 auto;
  width: 80%;
  height: 80%;
}

.carouselSlide img {
  width: 100%;
  height: 100%;
}

.carouselThumbnails {
  display: flex;
  justify-content: center;
  height: calc(20% - 0px);
}

.carouselThumbnails img {
  /* width: 100px;
    height: 100px; */
  object-fit: cover;
  cursor: pointer;
  margin: 0 5px;
}

.activeThumbnail {
  border: 2px solid #000;
}

.carouselPrev,
.carouselNext {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgb(249 249 249 / 71%);
  color: rgba(0, 0, 0, 0.5);
  /* color: white; */
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carouselPrev {
  right: 12%;
}

.carouselNext {
  left: 12%;
}

@media (max-width: 568px) {
  .carouselContainer {
    height: 100%;
  }

  .carouselSlide {
    width: 100%;
    height: 100%;
  }

  .carouselThumbnails {
    overflow-x: scroll;
    height: 100%;
    margin-top: 5px;
  }

  .carouselPrev,
  .carouselNext {
    top: 25%;
  }

  .carouselPrev {
    right: 2%;
  }

  .carouselNext {
    left: 2%;
  }
}
