.container {
  align-items: center;
  text-align: -webkit-center;
}

.pageHeader {
  border-bottom: 3px solid;
  width: 70%;
  text-align: center;
}

.linkHeader {
  text-align: center;
  font-size: 1.5rem;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  text-align: -webkit-center;
  gap: 50px;
  padding: 20px;
  place-content: center;
}
