.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 190px;
  z-index: 9999;
  background-color: white;
  border-bottom: inset;
}

.sticky {
  background-color: white;
  border-bottom: inset;
  color: black;
  font-weight: normal;
}

.stickyMenuOpen {
  background-color: var(--bg) !important;
}

.stickyLogoOpenIcons {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(179deg) brightness(108%) contrast(100%);
}

.stickyNavLinkTitlesOpen {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(179deg) brightness(108%) contrast(100%);
}

.stickymenuButtonOpen {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(179deg) brightness(108%) contrast(100%);
}

@media (min-width: 768px) {
  .sticky {
    background-color: white;
    border-bottom: inset;
    color: black;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 100px;
  }
}

@media (max-width: 568px) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 468px) {
  .container {
    gap: 20px;
  }
}
