.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 190px;
  z-index: 9999;
  transition: 0.6s;
  background-color: transparent;
  color: black;
  border-bottom: inset;
}

.home {
  color: rgb(44, 43, 43);
  font-weight: bold;
  border-bottom: none;
}

.sticky {
  background-color: white;
  border-bottom: inset;
  color: black;
  font-weight: normal;
}
