.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 190px;
  z-index: 9999;
  /* transition: 0.6s; */
  color: black;
  border-bottom: none;
  background-color: transparent;
  background-color: white;
}

.home {
  background-color: transparent;
  color: rgb(44, 43, 43);
  font-weight: bold;
  border-bottom: none;
}

.white {
  border-bottom: inset;
  background-color: white;
}

.sticky {
  background-color: white;
  border-bottom: inset;
  color: black;
  font-weight: normal;
}

.stickyMenuOpen {
  background-color: var(--bg);
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#whatsappLogo {
  padding-left: 5px;
}

@media (min-width: 768px) {
  /* .container {
    background-color: transparent;
    transition: 0.6s;
    background-color: white;
  } */

  .sticky {
    background-color: white;
    border-bottom: inset;
    color: black;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 100px;
  }
}

@media (max-width: 568px) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 468px) {
  .container {
    gap: 20px;
  }
}
