.header {
  width: 100%;
}

.rating {
  margin-left: auto;
}

.reviewContainer {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile {
  font-weight: 600;
  text-align: right;
}

.content {
  text-align: justify;
}

@media (max-width: 568px) {
  .reviewComponent {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
