.footer {
  display: flex;
  gap: 10px;
  place-content: center;
  padding-bottom: 10px !important;
}

.span {
  border-left: 1.5px solid;
  height: 80%;
}

.copyright {
  display: flex;
  align-items: center;
}
