/* .container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-top: 56.25%;
} */

/* html {
  background: url("/IMG_1846.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: aquamarine;
} */
/* .image {
  position: relative !important;
}

.whiteFilter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(299deg) brightness(100%) contrast(104%);

  display: flex;
  padding: 30px;
  text-align: center;
  gap: 10px;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 700;
} */

.relative {
  /* position: relative; */
  background-image: url("https://res.cloudinary.com/dflevhwgh/image/upload/v1725387382/ve44cvyyuq7acec8six2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.absolute {
  color: #ffffff;
  padding: 10% 0;
  text-align: center;
  text-align: -webkit-center;
}

/* .bg-black {
  background-color: black;
}

.bg-opacity-50 {
  opacity: 0.5;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.25rem;
} */

.text-white {
  width: 50%;
  margin-bottom: 20px;
}

.about-link {
  font-size: 1.5rem;
  background-color: brown;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  color: white;
}

@media (max-width: 768px) {
  .absolute {
    width: 100%;
    padding: 10% 0;
  }

  .text-white {
    width: 90%;
  }
}
