.row {
  display: flex;
}

.right_column {
  float: left;
  width: 50%;
  padding-right: 40px;
  height: auto;
  align-self: center;
  height: 77vh;
  text-align: -webkit-center;
}

.left_column {
  float: left;
  width: 50%;
  padding-top: 5px;
  height: auto;
  align-self: center;
  height: calc(100vh - 115px);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
  height: 100%;
  width: 100%;
}

.continue {
  float: left;
  border-radius: 5px;
  background-color: darkgray;
  padding: 10px;
}

.pageHeader {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .right_column {
    width: 95%;
    padding: 0;
    height: auto;
  }

  .left_column {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    height: auto;
  }
}
