.link:hover {
  /* padding: 10px;
  background-color: rgb(173, 171, 171);
  border-radius: 5px; */
}

.link {
  /* padding: 10px;
  background-color: rgb(216, 214, 214);
  border-radius: 5px; */
}

.navLinkTitle {
  /* filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%)
    hue-rotate(83deg) brightness(91%) contrast(92%); */
  color: var(--bg);
}
