.link:hover {
  /* padding: 10px;
  background-color: rgb(173, 171, 171);
  border-radius: 5px; */
}

.link {
  /* padding: 10px;
  background-color: rgb(216, 214, 214);
  border-radius: 5px; */
}

.navLinkTitle {
  color: var(--bg);
}

.navLinkTitleWhite {
  color: white;
}

.underline {
  border-bottom: solid;
}

.underlineGray {
  border-bottom: solid white;
}

.underlineWhite {
  border-bottom: solid white;
}
